In [50]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [51]:
import sys
sys.path.insert(0, "../")

In [52]:
import kangaroo

In [53]:
import pandas as pd

In [54]:
pd_data = pd.read_csv("../data/country columns.csv")[["country of birth father", "country of birth mother", "country of birth self"]]

In [55]:
from kangaroo.feature_exploration import compute_chi2_matrix

In [56]:
pd_data.describe()

       country of birth father country of birth mother country of birth self
count                   199523                  199523                199523
unique                      43                      43                    43
top              United-States           United-States         United-States
freq                    159163                  160479                176989

In [57]:
import numpy as np
import pandas as pd
from scipy.stats import distributions
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2
from sklearn.preprocessing import LabelEncoder

def compute_chi2_matrix(pd_data: pd.DataFrame) -> np.array:
    """Computes a matrix with chi2 tests for each pair of variables.
    When the score for a pair is 0, it means they are highly related. Where it is 1, they are not related.
    :param pd_data: dataframe with N categorical columns
    :return: numpy matrix of size N x N
    """
    dict_unique_values = {}
    for c in pd_data.columns:
        le = LabelEncoder()
        le.fit(pd_data[c])
        pd_data[c] = le.transform(pd_data[c])
        dict_unique_values[c] = len(le.classes_)

    result_tests = np.zeros(shape=(len(pd_data.columns), len(pd_data.columns)))
    for i, c in enumerate(pd_data.columns):
        fs = SelectKBest(score_func=chi2, k='all')
        _ = fs.fit_transform(pd_data.values, pd_data[c])
        degrees_of_freedom = [(dict_unique_values[c] - 1) * (dict_unique_values[x] - 1) for x in pd_data.columns]
        result_tests[i, :] = fs.scores_
    return result_tests

In [58]:
x = compute_chi2_matrix(pd_data[["country of birth father", "country of birth self"]]) 
1- x / np.max(x)

/home/rodri/pruebaZeta/pruebaZeta/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

array([[0.        , 0.75016947],
       [0.58002799, 0.43551656]])

In [59]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
pd_data["country of birth self index"] = le.fit_transform(pd_data["country of birth self"])
pd_data["country of birth father index"] = le.transform(pd_data["country of birth father"])

In [60]:
from sklearn import tree
t = tree.DecisionTreeClassifier()

In [78]:
from sklearn.metrics import accuracy_score
def compute_distance_prediction(c, d):
    le = preprocessing.LabelEncoder()
    le.fit(pd_data[c])
    t = tree.DecisionTreeClassifier()
    t.fit([le.transform(pd_data[c])], [le.transform(pd_data[d])])
    x = t.predict([le.transform(pd_data[[c]])])
    r = le.inverse_transform(x[0, :])
    return accuracy_score(pd_data[d], r)
print(compute_distance_prediction("country of birth self", "country of birth father"))
print(compute_distance_prediction("country of birth self", "country of birth self"))

/home/rodri/pruebaZeta/pruebaZeta/lib/python3.6/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[' United-States' ' United-States' ' Vietnam' ... ' Poland'
 ' United-States' ' ?']
1.0

/home/rodri/pruebaZeta/pruebaZeta/lib/python3.6/site-packages/sklearn/utils/validation.py:63: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(*args, **kwargs)

[' United-States' ' United-States' ' Vietnam' ... ' Germany'
 ' United-States' ' ?']
1.0

In [21]:
data_crosstab = pd.crosstab(pd_data['country of birth father'],
                            pd_data['country of birth self'])
print(data_crosstab)

country of birth self             ?   Cambodia   Canada   China   Columbia  \
country of birth father
 ?                             2907          0       53       9          2
 Cambodia                        11         84        0       1          0
 Canada                           5          0      433       0          0
 China                           23          9        1     458          0
 Columbia                        11          0        0       0        414
 Cuba                             4          0        0       0          1
 Dominican-Republic               3          0        0       0          0
 Ecuador                          5          0        1       0          0
 El-Salvador                      4          0        1       0          0
 England                          4          0       42       0          0
 France                           8          0        3       0          0
 Germany                         21          0        7       0          1
 Greece                           6          0        1       0          0
 Guatemala                        0          0        0       0          0
 Haiti                            3          0        5       0          0
 Holand-Netherlands               3          0        0       0          0
 Honduras                         3          0        0       0          0
 Hong Kong                        2          0        1       3          0
 Hungary                         13          0        2       0          1
 India                           32          0        2       0          0
 Iran                             9          0        0       0          0
 Ireland                          0          0        1       0          0
 Italy                           25          0        4       0          1
 Jamaica                          4          0        2       0          0
 Japan                            1          0        0       1          0
 Laos                             0          0        0       0          0
 Mexico                           6          0        0       0          0
 Nicaragua                        5          0        1       0          0
 Outlying-U S (Guam USVI etc)     8          0        0       0          0
 Panama                           1          0        0       0          0
 Peru                             4          0        0       0          0
 Philippines                      2          0        2       0          0
 Poland                          23          0       11       0          1
 Portugal                         5          0        1       0          0
 Puerto-Rico                     13          0        0       1          1
 Scotland                         2          0       14       0          1
 South Korea                     12          0        0       0          0
 Taiwan                           0          0        0       0          0
 Thailand                         0          0        0       0          0
 Trinadad&Tobago                  2          0        0       0          1
 United-States                  196          2      109       5         10
 Vietnam                          2          0        3       0          0
 Yugoslavia                       5          0        0       0          0

country of birth self           Cuba   Dominican-Republic   Ecuador  \
country of birth father
 ?                                74                    6         0
 Cambodia                          0                    0         0
 Canada                            0                    0         0
 China                             2                    0         0
 Columbia                          0                    1         0
 Cuba                            741                    2         0
 Dominican-Republic                0                  675         0
 Ecuador                           0                    0       255
 El-Salvador                       0                    0         0
 England                           0                    1         0
 France                            1                    0         0
 Germany                           0                    0         0
 Greece                            0                    0         0
 Guatemala                         0                    0         1
 Haiti                             0                    0         0
 Holand-Netherlands                0                    0         0
 Honduras                          0                    1         0
 Hong Kong                         0                    0         0
 Hungary                           0                    0         0
 India                             0                    0         0
 Iran                              0                    0         0
 Ireland                           0                    0         0
 Italy                             0                    0         0
 Jamaica                           3                    1         0
 Japan                             0                    0         0
 Laos                              0                    0         0
 Mexico                            0                    1         0
 Nicaragua                         1                    0         0
 Outlying-U S (Guam USVI etc)      0                    0         0
 Panama                            0                    0         0
 Peru                              0                    0         0
 Philippines                       0                    0         0
 Poland                            2                    0         0
 Portugal                          0                    0         0
 Puerto-Rico                       2                    1         0
 Scotland                          1                    0         0
 South Korea                       0                    0         0
 Taiwan                            0                    0         0
 Thailand                          0                    0         0
 Trinadad&Tobago                   0                    0         0
 United-States                    10                    1         2
 Vietnam                           0                    0         0
 Yugoslavia                        0                    0         0

country of birth self           El-Salvador   England  ...   Portugal  \
country of birth father                                ...
 ?                                        6        26  ...          1
 Cambodia                                 0         0  ...          0
 Canada                                   0         1  ...          5
 China                                    0         1  ...          0
 Columbia                                 0         0  ...          0
 Cuba                                     0         0  ...          0
 Dominican-Republic                       0         0  ...          0
 Ecuador                                  0         0  ...          0
 El-Salvador                            615         0  ...          0
 England                                  2       305  ...          0
 France                                   0         0  ...          0
 Germany                                  1         4  ...          0
 Greece                                   2         0  ...          0
 Guatemala                                2         0  ...          0
 Haiti                                    1         0  ...          0
 Holand-Netherlands                       0         0  ...          0
 Honduras                                 1         0  ...          0
 Hong Kong                                1         1  ...          0
 Hungary                                  0         0  ...          0
 India                                    0         5  ...          0
 Iran                                     0         0  ...          0
 Ireland                                  0         5  ...          0
 Italy                                    0         1  ...          0
 Jamaica                                  0        12  ...          0
 Japan                                    0         0  ...          0
 Laos                                     0         0  ...          0
 Mexico                                   3         4  ...          0
 Nicaragua                                0         0  ...          0
 Outlying-U S (Guam USVI etc)             0         1  ...          1
 Panama                                   0         0  ...          0
 Peru                                     0         0  ...          0
 Philippines                              0         0  ...          0
 Poland                                   2         5  ...          0
 Portugal                                 0         0  ...        162
 Puerto-Rico                              0         4  ...          0
 Scotland                                 0        14  ...          0
 South Korea                              1         0  ...          0
 Taiwan                                   0         0  ...          0
 Thailand                                 0         0  ...          1
 Trinadad&Tobago                          0         1  ...          0
 United-States                           51        67  ...          4
 Vietnam                                  1         0  ...          0
 Yugoslavia                               0         0  ...          0

country of birth self           Puerto-Rico   Scotland   South Korea   Taiwan  \
country of birth father
 ?                                       16          4             1        0
 Cambodia                                 0          0             0        2
 Canada                                   0          0             0        0
 China                                    0          0             4       54
 Columbia                                 0          0            10        0
 Cuba                                     3          0             0        1
 Dominican-Republic                      23          0             0        0
 Ecuador                                  0          0             0        1
 El-Salvador                              0          0             0        0
 England                                  0          0             0        0
 France                                   1          0             0        0
 Germany                                  0          0             1        0
 Greece                                   0          0             0        0
 Guatemala                                0          0             0        0
 Haiti                                    0          0             0        0
 Holand-Netherlands                       0          0             0        0
 Honduras                                 0          0             0        0
 Hong Kong                                0          0             0        0
 Hungary                                  0          0             0        0
 India                                    4          0             0        0
 Iran                                     0          0             0        0
 Ireland                                  0          5             0        0
 Italy                                    3          1             0        0
 Jamaica                                  0          2             0        0
 Japan                                    0          0             1        1
 Laos                                     0          0             0        0
 Mexico                                   1          0             0        0
 Nicaragua                                0          0             0        0
 Outlying-U S (Guam USVI etc)             2          0             0        0
 Panama                                   0          0             0        0
 Peru                                     0          0             0        0
 Philippines                              0          0             0        0
 Poland                                   0          1             0        0
 Portugal                                 0          0             0        0
 Puerto-Rico                           1304          0             2        0
 Scotland                                 0         55             0        0
 South Korea                              0          0           422        0
 Taiwan                                   0          1             0      134
 Thailand                                 0          0             0        0
 Trinadad&Tobago                          4          0             0        0
 United-States                           39          6            30        7
 Vietnam                                  0          0             0        1
 Yugoslavia                               0          0             0        0

country of birth self           Thailand   Trinadad&Tobago   United-States  \
country of birth father
 ?                                     5                 2            3483
 Cambodia                              7                 0              72
 Canada                                0                 0             928
 China                                 6                 0             185
 Columbia                              0                 0             173
 Cuba                                  0                 0             360
 Dominican-Republic                    2                 0             443
 Ecuador                               0                 0             115
 El-Salvador                           0                 0             350
 England                               0                 0             424
 France                                0                 0             102
 Germany                               0                 0             908
 Greece                                0                 0             199
 Guatemala                             0                 0             119
 Haiti                                 0                 0             121
 Holand-Netherlands                    0                 0              31
 Honduras                              0                 0              58
 Hong Kong                             0                 0              37
 Hungary                               0                 0             216
 India                                 0                 1             151
 Iran                                  0                 0              73
 Ireland                               0                 0             374
 Italy                                 0                 0            1793
 Jamaica                               0                 1             144
 Japan                                 0                 0             163
 Laos                                 16                 0              37
 Mexico                                0                 0            4503
 Nicaragua                             0                 1              97
 Outlying-U S (Guam USVI etc)          0                 0              78
 Panama                                0                 0               9
 Peru                                  0                 0              77
 Philippines                           0                 0             371
 Poland                                0                 0             786
 Portugal                              0                 0             217
 Puerto-Rico                           0                 0            1313
 Scotland                              0                 0             158
 South Korea                           0                 0              92
 Taiwan                                2                 0              59
 Thailand                             70                 0              34
 Trinadad&Tobago                       0                60              42
 United-States                         4                 1          157844
 Vietnam                               1                 0             104
 Yugoslavia                            0                 0             146

country of birth self           Vietnam   Yugoslavia
country of birth father
 ?                                    0            0
 Cambodia                             0            0
 Canada                               0            0
 China                               30            0
 Columbia                             0            0
 Cuba                                 0            0
 Dominican-Republic                   0            0
 Ecuador                              0            0
 El-Salvador                          0            0
 England                              0            0
 France                               1            0
 Germany                              0            2
 Greece                               0            0
 Guatemala                            0            0
 Haiti                                0            0
 Holand-Netherlands                   0            0
 Honduras                             0            0
 Hong Kong                            0            0
 Hungary                              0            1
 India                                0            0
 Iran                                 0            0
 Ireland                              0            0
 Italy                                0            0
 Jamaica                              0            0
 Japan                                0            0
 Laos                                 0            0
 Mexico                               0            0
 Nicaragua                            0            0
 Outlying-U S (Guam USVI etc)         0            0
 Panama                               0            0
 Peru                                 3            0
 Philippines                          0            0
 Poland                               0            0
 Portugal                             0            0
 Puerto-Rico                          1            0
 Scotland                             0            0
 South Korea                          0            0
 Taiwan                               0            0
 Thailand                             0            0
 Trinadad&Tobago                      0            0
 United-States                       17            0
 Vietnam                            339            0
 Yugoslavia                           0           63

[43 rows x 43 columns]